<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magmodules_sooqr>
            <general>
                <enable>1</enable>
            </general>
            <implementation>
                <advanced_version>4</advanced_version>
            </implementation>
            <data>
                <name_attribute>name</name_attribute>
                <description_attribute>description</description_attribute>
                <gtin_attribute>sku</gtin_attribute>
                <brand_attribute>manufacturer</brand_attribute>
                <color_attribute>color</color_attribute>
                <size_attribute>size</size_attribute>
                <gender_attribute>gender</gender_attribute>
            </data>
            <generate>
                <enable>1</enable>
                <filename>sooqr.xml</filename>
            </generate>
        </magmodules_sooqr>
    </default>
</config>
