<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magmodules\Sooqr\Logger\Handler\General">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Logger\General">
        <arguments>
            <argument name="name" xsi:type="string">GeneralLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magmodules\Sooqr\Logger\Handler\General</item>
            </argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Logger\Handler\Validation">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Logger\Validation">
        <arguments>
            <argument name="name" xsi:type="string">ValidationLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magmodules\Sooqr\Logger\Handler\Validation</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magmodules\Sooqr\Logger\GeneralLoggerInterface"
                type="Magmodules\Sooqr\Logger\General"/>
    <preference for="Magmodules\Sooqr\Logger\ValidationLoggerInterface"
                type="Magmodules\Sooqr\Logger\Validation"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="SooqrFeedGenerate" xsi:type="object">Magmodules\Sooqr\Console\Command\FeedGenerate</item>
            </argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Console\Command\FeedGenerate">
        <arguments>
            <argument name="feedModel" xsi:type="object">Magmodules\Sooqr\Model\Feed\Proxy</argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Console\Command\FeedGenerate">
        <arguments>
            <argument name="generalHelper" xsi:type="object">Magmodules\Sooqr\Helper\General</argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="magmodules_sooqr/implementation/account_id" xsi:type="string">1</item>
                <item name="magmodules_sooqr/implementation/api_key" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="magmodules_sooqr/feeds/results" xsi:type="string">1</item>
            </argument>
        </arguments>
     </type>
 </config>

