<?xml version="1.0"?>
<!--
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magmodules\Sooqr\Api\Log\RepositoryInterface" type="Magmodules\Sooqr\Model\Log\Repository"/>
    <preference for="Magmodules\Sooqr\Api\Config\RepositoryInterface" type="Magmodules\Sooqr\Model\Config\Repository"/>
    <preference for="Magmodules\Sooqr\Api\ProductData\RepositoryInterface" type="Magmodules\Sooqr\Model\ProductData\Repository"/>
    <preference for="Magmodules\Sooqr\Api\Log\RepositoryInterface" type="Magmodules\Sooqr\Model\Log\Repository"/>
    <preference for="Magmodules\Sooqr\Api\Cms\RepositoryInterface" type="Magmodules\Sooqr\Model\Cms\Repository"/>
    <preference for="Magmodules\Sooqr\Api\Generate\RepositoryInterface" type="Magmodules\Sooqr\Model\Generate\Repository"/>
    <preference for="Magmodules\Sooqr\Api\WebApi\RepositoryInterface" type="Magmodules\Sooqr\Model\WebApi\Repository"/>

    <!-- CLI Start -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="GenerateFeed" xsi:type="object">Magmodules\Sooqr\Console\Command\CreateFeed</item>
            </argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Console\Command\CreateFeed">
        <arguments>
            <argument name="generateFeedRepository" xsi:type="object">Magmodules\Sooqr\Api\Generate\RepositoryInterface\Proxy</argument>
        </arguments>
    </type>
    <!-- CLI End -->

    <!-- Log Block Start -->
    <type name="Magmodules\Sooqr\Logger\ErrorLogger">
        <arguments>
            <argument name="name" xsi:type="string">SooqrError</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magmodules\Sooqr\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Logger\DebugLogger">
        <arguments>
            <argument name="name" xsi:type="string">SooqrDebug</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magmodules\Sooqr\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </type>
    <!-- Log Block End -->

    <!-- Feed Block Start -->
    <preference for="Magmodules\Sooqr\Api\Feed\RepositoryInterface" type="Magmodules\Sooqr\Model\Feed\Repository"/>
    <preference for="Magmodules\Sooqr\Api\Feed\Data\DataInterface" type="Magmodules\Sooqr\Model\Feed\DataModel"/>
    <preference for="Magmodules\Sooqr\Api\Feed\Data\SearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Magmodules\Sooqr\Model\Feed\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sooqr_feed</argument>
            <argument name="resourceModel" xsi:type="string">Magmodules\Sooqr\Model\Feed\Collection</argument>
        </arguments>
    </virtualType>
    <!-- Feed Block End -->

    <!-- Data Providers Start -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sooqr_feed_listing_data_source" xsi:type="string">Magmodules\Sooqr\Model\Feed\Grid\Collection</item>
                <item name="sooqr_delta_listing_data_source" xsi:type="string">Magmodules\Sooqr\Model\Delta\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- Data Providers End -->

    <!-- Delta Block Start -->
    <preference for="Magmodules\Sooqr\Api\Delta\Data\DataInterface" type="Magmodules\Sooqr\Model\Delta\DataModel"/>
    <type name="Magmodules\Sooqr\Model\Delta\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sooqr_delta</argument>
            <argument name="resourceModel" xsi:type="string">Magmodules\Sooqr\Model\Delta\Collection</argument>
        </arguments>
    </type>
    <!-- Delta Block End -->

    <!-- Plugins -->
    <type name="\Magento\Catalog\Model\Indexer\Product\Eav">
        <plugin name="bindDeltaIndexer" type="\Magmodules\Sooqr\Plugin\Catalog\Model\Indexer\Product\Eav\BindDeltaIndexer" />
    </type>
    <type name="\Magento\Catalog\Controller\Adminhtml\Product\MassDelete">
        <plugin name="bindDeltaIndexerMassDelete" type="\Magmodules\Sooqr\Plugin\Catalog\Controller\Adminhtml\Product\MassDelete\BindDeltaIndexer" />
    </type>
    <type name="\Magento\CatalogInventory\Model\Indexer\Stock">
        <plugin name="bindDeltaIndexerInventory" type="\Magmodules\Sooqr\Plugin\CatalogInventory\Model\Indexer\Stock\BindDeltaIndexer" />
    </type>
    <!-- Plugins -->
</config>
