<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magmodules\Sooqr\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magmodules\Sooqr\Logger\SooqrLogger">
        <arguments>
            <argument name="name" xsi:type="string">Sooqr</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magmodules\Sooqr\Logger\SooqrHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="SooqrFeedGenerate" xsi:type="object">Magmodules\Sooqr\Console\Command\FeedGenerate</item>
                <item name="SooqrConfig" xsi:type="object">Magmodules\Sooqr\Console\Command\Config</item>
            </argument>
        </arguments>
    </type>
</config>