<?xml version="1.0"?>
<!--
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magmodules" translate="label" sortOrder="500">
            <label>Magmodules</label>
        </tab>
        <section id="magmodules_sooqr" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sooqr Connect</label>
            <tab>magmodules</tab>
            <resource>Magmodules_Sooqr::config</resource>
            <group id="branding" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Branding</label>
                <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Header</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="version" translate="text" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                </field>
                <field id="token" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="implementation" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Frontend Implementation</label>
                <comment>Set the general settings to connect your store with Sooqr. You can find your Sooqr Account ID in your Sooqr account.</comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_api" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Details</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>You can find your Sooqr Account ID in your Sooqr account, you can find the link in the information box at the top of this page. Your Sooqr Account ID should look like SQ-123456-1.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="account_id" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sooqr Account ID</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="statistics" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Statistics</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="heading_advanced" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced Settings</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Only recommended for Developers.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="loader" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sooqr Loader</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Loader</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="advanced_parent" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parent HTML node</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="loader" negative="1">custom</field>
                    </depends>
                </field>
                <field id="advanced_staging" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Staging Environment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="loader" negative="1">custom</field>
                    </depends>
                </field>
                <field id="advanced_debug" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Debugging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="loader" negative="1">custom</field>
                    </depends>
                </field>
                <field id="advanced_version" translate="label" type="select" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend Version</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Frontend</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="loader" negative="1">custom</field>
                    </depends>
                </field>
                <field id="advanced_custom_js" translate="label" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom JS</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="loader" negative="1">custom</field>
                    </depends>
                </field>
                <field id="heading_add_to" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to cart</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart_controller" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Cart Controller</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart_ajax" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Ajax based Add to Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="add_to_cart_controller">1</field>
                    </depends>
                </field>
                <field id="add_to_cart_wishlist" translate="label" type="select" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Wishlist Controller</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="data" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Data</label>
                <comment>Connect the right attributes for the basic product values to the Sooqr feed.</comment>
                <field id="heading_name" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Fields</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                </field>
                <field id="name_attribute" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Attributes</source_model>
                    <comment>Select the attribute associate with the product name. Suggested field: Product Name</comment>
                </field>
                <field id="sku_attribute" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sku</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Attributes</source_model>
                    <comment>Select the attribute associated with the SKU. Suggested field: SKU</comment>
                </field>
                <field id="description_attribute" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Attributes</source_model>
                    <comment>Select the attribute associated with the product description. Suggested field: Description</comment>
                </field>
                <field id="brand_attribute" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Attributes</source_model>
                    <comment>Select the attribute associated with the brand or manufacturer. Suggested field: Brand or manufacturer</comment>
                </field>
                <field id="heading_image" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Images</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                </field>
                <field id="image_source" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Source</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\ImageSource</source_model>
                </field>
                <field id="image_resize" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Resize Image</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\ImageSize</source_model>
                </field>
                <field id="image_size_fixed" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Size</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\ImageResize</source_model>
                    <comment>Image resize options are only available on store level which can be selected from the scope dropdown on the left top of this page. Please note that the Sooqr Feed needs to be regenerated if a Image Cache Flush is executed.</comment>
                    <depends>
                        <field id="image_resize">fixed</field>
                    </depends>
                </field>
                <field id="image_size_custom" translate="label comment" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Size</label>
                    <comment>Example format: 200x300</comment>
                    <depends>
                        <field id="image_resize">custom</field>
                    </depends>
                </field>
                <field id="heading_extra" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Fields</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>You can add custom fields with your attributes to enrich your data in Sooqr. Click the Add button to add an attribute with a custom fieldname as reference.</comment>
                </field>
                <field id="extra_fields" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Fields</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\System\Config\Form\Field\ExtraFields</frontend_model>
                    <backend_model>Magmodules\Sooqr\Model\Config\Backend\Serialized\ExtraFields</backend_model>
                </field>
                <field id="heading_reviews" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Reviews</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Export the product rating score in the feed to use it in Sooqr Search. Please keep in mind that activating this option can cause a higher load on the feed generation.</comment>
                </field>
                <field id="reviews" translate="label" type="select" sortOrder="31" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Add Product Review Score</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="types" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Types</label>
                <comment><![CDATA[Configure the three different product types to make sure that you are using the right attribute values for the different product types.]]></comment>
                <field id="heading_configurable" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Configurable Products</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment><![CDATA[For configurable products, we recommend to only add the simple products to the configuration as a ‘configurable product’ by itself cannot be purchased. Choose the attribute(s) that you want to use from the parent relation configurable product.]]></comment>
                </field>
                <field id="configurable" translate="label comment" type="select" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Configurable/Simple Products</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Configurable\Option</source_model>
                    <comment><![CDATA[<strong>Recommended:</strong> Only Linked Simple Products. Selecting this option will export linked simple products that are part of a configurable product. This option is recommended so that the unique product variants are exported to Sooqr.]]></comment>
                </field>
                <field id="configurable_link" translate="label comment" type="select" sortOrder="22" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Parent URL for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Configurable\Link</source_model>
                    <depends>
                        <field id="configurable" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[<strong>Recommended:</strong> Yes, with Auto-Link. In this way the URL will be automatically link to the correct simple product on the configurable product landing page.]]></comment>
                </field>
                <field id="configurable_image" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Parent Image for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Configurable\Image</source_model>
                    <depends>
                        <field id="configurable" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[<strong>Recommended:</strong> Only if Empty. In this way the parent image will only be used when there isn't a image available on the simple product.]]></comment>
                </field>
                <field id="configurable_parent_atts" translate="label" type="multiselect" sortOrder="24" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Parent Data for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Configurable\ParentAttributes</source_model>
                    <depends>
                        <field id="configurable" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[Select the attributes that you want to use from the parent configurable product. It is not recommended to select the attributes that need to be unique for the simples, such as GTIN and Color.]]></comment>
                </field>
                <field id="configurable_nonvisible" translate="label comment" type="select" sortOrder="25" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Fallback only on Non Visible Simples</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<strong>Recommended:</strong> Yes. Selecting this will use the logic for the attribute fallback and relations on simples with the visibility "Not Visible Individually". Simples that are visible in the catalog are treated as "normal" simple products without relations.]]></comment>
                    <depends>
                        <field id="configurable" separator=",">simple,both</field>
                    </depends>
                </field>
                <field id="heading_bundle" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Bundle Products</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment><![CDATA[For Bundle Products, we recommend to only add the Bundle product by itself as this is the item that can be purchased.<br>]]></comment>
                </field>
                <field id="bundle" translate="label comment" type="select" sortOrder="31" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Bundle Products</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Bundle\Option</source_model>
                    <comment><![CDATA[<strong>Recommended:</strong> Only Bundle Product. Selecting this option will export the bundle product by itself to Sooqr.]]></comment>
                </field>
                <field id="bundle_link" translate="label comment" type="select" sortOrder="32" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Parent URL for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Bundle\Link</source_model>
                    <depends>
                        <field id="bundle" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[<strong>Recommended:</strong> Yes. Selecting this option will export the URL that links directly to the Bundle Product.]]></comment>
                </field>
                <field id="bundle_image" translate="label comment" type="select" sortOrder="33" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Parent Image for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Bundle\Image</source_model>
                    <depends>
                        <field id="bundle" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[<strong>Recommended:</strong> Only if empty. Selecting this option will export the parent image which will be used if there is no image available for a simple product]]></comment>
                </field>
                <field id="bundle_parent_atts" translate="label comment" type="multiselect" sortOrder="34" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Parent Data for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Bundle\ParentAttributes</source_model>
                    <depends>
                        <field id="bundle" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[Select the attributes that you want to use from the parent bundle product. It is not recommended to select the attributes that need to be unique for the simples, such as GTIN and Color.]]></comment>
                </field>
                <field id="bundle_nonvisible" translate="label comment" type="select" sortOrder="35" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Fallback only on Non Visible Simples</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<strong>Recommended:</strong> Yes. Selecting this will use the logic for the attribute fallback and relations on simples with the visibility "Not Visible Individually". Simples that are visible in the catalog are treated as "normal" simple products without relations.]]></comment>
                    <depends>
                        <field id="bundle" separator=",">simple,both</field>
                    </depends>
                </field>
                <field id="bundle_parent_price" translate="label" type="select" sortOrder="36" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Parent Price</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Bundle\Price</source_model>
                    <depends>
                        <field id="bundle" separator=",">parent,both</field>
                    </depends>
                </field>
                <field id="heading_grouped" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Grouped Products</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment><![CDATA[For Grouped Products we recommend to only add the Grouped product by itself as that is the product that can be bought.<br>]]></comment>
                </field>
                <field id="grouped" translate="label comment" type="select" sortOrder="41" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Grouped Products</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Grouped\Option</source_model>
                    <comment><![CDATA[<strong>Recommended:</strong> Only Grouped Product. Selecting this option will export the grouped product by itself to Sooqr.]]></comment>
                </field>
                <field id="grouped_link" translate="label comment" type="select" sortOrder="42" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Parent URL for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Grouped\Link</source_model>
                    <depends>
                        <field id="grouped" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[<strong>Recommended:</strong> Yes. Selecting this option will export the URL that links directly to the Grouped Product.]]></comment>
                </field>
                <field id="grouped_image" translate="label comment" type="select" sortOrder="43" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Parent Image for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Grouped\Image</source_model>
                    <depends>
                        <field id="grouped" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[<strong>Recommended:</strong> Only if Empty. Selecting this option will export the parent image which will be used if there is no image available for a simple product.]]></comment>
                </field>
                <field id="grouped_parent_price" translate="label" type="select" sortOrder="44" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Parent Price</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Grouped\Price</source_model>
                    <depends>
                        <field id="grouped" separator=",">parent,both</field>
                    </depends>
                </field>
                <field id="grouped_parent_atts" translate="label comment" type="multiselect" sortOrder="45" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Parent Data for Simples</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Grouped\ParentAttributes</source_model>
                    <depends>
                        <field id="grouped" separator=",">simple,both</field>
                    </depends>
                    <comment><![CDATA[Select the attributes that you want to use from the parent grouped product. It is not recommended to select the attributes that need to be unique for the simples, such as GTIN and Color.]]></comment>
                </field>
                <field id="grouped_nonvisible" translate="label" type="select" sortOrder="46" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Fallback only on Non Visible Simples</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<strong>Recommended:</strong> Yes. Selecting this will use the logic for the attribute fallback and relations on simples with the visibility "Not Visible Individually". Simples that are visible in the catalog are treated as "normal" simple products without relations.]]></comment>
                    <depends>
                        <field id="grouped" separator=",">simple,both</field>
                    </depends>
                </field>
            </group>
            <group id="filter" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Filter Options</label>
                <comment>This option allows you to include/exclude products from the Sooqr feed based on the product visibility or stock information.</comment>
                <field id="heading_visibility" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter on Visibility</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Include or exclude products based on the visibility.</comment>
                </field>
                <field id="visbility_enable" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="visbility" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Only add products with the following Visibility</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\ProductVisibility</source_model>
                    <comment>Include or exclude products based on the visibility.</comment>
                    <depends>
                        <field id="visbility_enable">1</field>
                    </depends>
                </field>
                <field id="heading_category" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter by Category</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Include or Exclude products based on the category.</comment>
                </field>
                <field id="category_enable" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_type" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type of filter</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\CategoryTypeList</source_model>
                    <depends>
                        <field id="category_enable">1</field>
                    </depends>
                </field>
                <field id="category" translate="label" type="multiselect" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\CategoryList</source_model>
                    <depends>
                        <field id="category_enable">1</field>
                    </depends>
                    <comment><![CDATA[Include or Exclude Products based on the Category.<br><strong><br>Note for Include:</strong><br>Simple products within a bundled, configurable or grouped product are treated as own entities; these should also be present in the included categories.<br><br><strong>Note for Exclude: </strong><br>Exclude the products from these categories. Products that are available within different categories need to be excluded from all of the categories they are assigned to.]]></comment>
                </field>
                <field id="heading_stock" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Out of Stock</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Exclude products that are out of stock in your store.</comment>
                </field>
                <field id="stock" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_filters" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Advanced Filters</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Configure the advanced filter using your attributes and different filter options to exclude products.</comment>
                </field>
                <field id="filters" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="filters_data" translate="label" type="select" sortOrder="32" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Filter Conditions</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\System\Config\Form\Field\Filters</frontend_model>
                    <backend_model>Magmodules\Sooqr\Model\Config\Backend\Serialized\Filters</backend_model>
                    <depends>
                        <field id="filters">1</field>
                    </depends>
                </field>
            </group>
            <group id="cms" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CMS Pages</label>
                <comment>Export your CMS pages into the feed to use them in the Sooqr Search Output.</comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\Cms</source_model>
                </field>
                <field id="cms_selection" translate="label" type="multiselect" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Selection</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\CmsPages</source_model>
                    <depends>
                        <field id="enable">2</field>
                    </depends>
                    <comment><![CDATA[Select the CMS Pages that you want to export using the multi-select above.]]></comment>
                </field>
            </group>
            <group id="generate" translate="label comment" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Feed Generation Settings</label>
                <comment>Each store view will have its Sooqr feed. You can easily enable or disable the Sooqr feed generation on store level or automatically generate the Sooqr feed. In case you are not using the Cronjob functionality it's possible to generate the Sooqr feed manually.</comment>
                <field id="heading_generation" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Feed Generation</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>Enable or disable the feed generation for this store view or change the filename.</comment>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="filename" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filename</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="heading_cron" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <comment>A cronjob is a daemon which continues running and gets activated at a certain interval (time period). Please ensure that your default Magento Cron is working. If not, contact your hosting company for help.</comment>
                </field>
                <field id="cron" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_frequency" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magmodules\Sooqr\Model\System\Config\Source\CronFrequency</source_model>
                    <backend_model>Magmodules\Sooqr\Model\Config\Backend\Cron</backend_model>
                </field>
                <field id="custom_frequency" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Frequency</label>
                    <depends>
                        <field id="cron_frequency">custom</field>
                    </depends>
                    <comment>Enter frequency in Crontab format. E.g. 0 5, 17 * * *  - this will generate the feed at 5AM and 5PM daily.</comment>
                </field>
                <field id="heading_advanced" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Advanced Settings</label>
                    <frontend_model>Magmodules\Sooqr\Block\Adminhtml\Magmodules\Heading</frontend_model>
                </field>
                <field id="advanced" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="paging" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Products per Batch</label>
                    <depends>
                        <field id="advanced">1</field>
                    </depends>
                    <comment>Use the paging function on big catalogs, e.g. catalogs of 50.000 SKU, use 5.000 per page.</comment>
                </field>
                <field id="debug_memory" translate="label" type="select" sortOrder="33" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug Memory Usage</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Write the memory usage to the var/log/sooqr.log file</comment>
                    <depends>
                        <field id="advanced">1</field>
                    </depends>
                </field>
            </group>
            <group id="feeds" translate="label comment" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sooqr - Feeds</label>
                <frontend_model>Magmodules\Sooqr\Block\Adminhtml\System\Config\Form\Feeds</frontend_model>
            </group>
        </section>
    </system>
</config>
